<% include ../partials/header.ejs %> <!-- Header of tha page -->

<%-include ../partials/nav.ejs%> <!-- Nav of the page --> 

<main>
    <div class="row justify-content-center">
        <h1 class="text-center">Contact List</h1>
        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-end">
                <a href="/contact-list/add" role="button" class="btn btn-primary styleBtn
                this.stystyle.borderColononmouseoutrimary" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">Add Contact</a>
            </div>
        <div class="table-responsive">
        <table class="table table-hover table-striped aling-middle">
            <!-- Header Row-->
            <thead>
                <tr>
                    <th class="text-center">Contact Name</th>
                    <th class="text-center">Contact Phone</th>
                    <th class="text-center">Contact Mail</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                   <!-- Repeatable Template Row -->
                <% for(let count = 0; count < contactList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= contactList[count].name %></td>
                        <td class="text-center"><%= contactList[count].phone %></td>
                        <td class="text-center"><%= contactList[count].mail %></td>
                        <td class="text-center"><a class="btn btn-info" href="/contact-list/edit/<%= contactList[count]._id %> " role="button">Edit</a></td>
                        <td class="text-center"><a class="btn btn-danger" href="/contact-list/delete/<%= contactList[count]._id %> " role="button">Delete</a></td>
                    </tr>
                <%} %>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</main>

<%-include ../partials/footer.ejs%> <!--Footer of the page-->